{$SITE_ADDRESS:localhost} {
	encode zstd gzip

	import /etc/caddy/ComputerRoutes

	handle {
		root * /srv
		@updates path / /sw.js /index.html /manifest.webmanifest
		header @updates Cache-Control "no-cache"
		try_files {path} /index.html
		file_server
	}
}
